body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr auto;
}

header {
  background-color: #DDDDDD;
  padding: 10px;
}

aside {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

aside > * {
  margin-bottom: 20px;
}

.personal-details ul {
  list-style-type: none;
  padding: 10px;
}

.bold {
  font-weight: bold;
}

aside img {
  background-color: #DDDDDD;
  padding: 20px;
  width: calc(100% - 20px);
}

aside .personal-details {
  background-color: #DDDDDD;
  padding: 10px;
  width: calc(100% - 5px);
}

section {
  text-decoration: none;
}

article {
  margin-left: 50px;
  margin-bottom: 20px;
  background-color: #DDDDDD;
  padding: 10px;
  border-radius: 10px;
}
